$violet: #5C2751;
$lightgrey: #605B56;
$darkgrey: #2B303A;
$platinum: #2B303A;
$offwhite: #F2EFEA;

h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}

body {
  font-family: 'Abel', sans-serif;
  text-align: center;
}

#jumbotron-color {
  color: $violet;
}

img {
  width: 25%;
}

ul {
  list-style: none;
  font-size: 1.5em;
  text-align: left;
}

li {
  padding-bottom: 1.5em;
}

#github-cat {
  padding-top: 50px;
}

#showErrorMessage {
  text-align: center;
}
